a:hover{
  color: #ffffff !important;
  text-decoration: none !important;
}

ul {
  list-style-type: none;
}

ul li {
  margin-bottom: 15px;
}

.local-nav {
  position: fixed;
  width: 250px;
  bottom: 0;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 2;
  overflow-y: auto;
  background: #333333;
  color: #586676;
}

.cisco-logo {
  width: 200px;
  margin: auto;
  margin-top: 50px;
  display: block;
}

.global-options-container {
  margin-top: 50px;
  padding-left: 25px;
}

.global-options {
  color: #E0E0E0;
  font-family: CiscoSans, Arial, sans-serif;
  font-size: 17px;
  line-height: 1.08;
}

.local-content {
  padding: 0 125px 0 300px;
}

.btn {
  background-color: #f37821;
  color: white;
}

.form-control {
  max-width: 500px;
}

.table {
  max-width: 700px !important;
}
