<h2>All Valid Domains</h2>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>
        Domain
      </th>
      <th>
        Description
      </th>
      <th>
        Submitted
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="domain in listDomains.DomainFactory.allValidDomains | orderBy: '-submitted'">
      <td>
        {{ domain.domain_name }}
      </td>
      <td>
        {{ domain.domain_description }}
      </td>
      <td>
        {{ domain.submitted | date:'mediumDate' }}
      </td>
    </tr>
  </tbody>
</table>
