<h2>Submit Domain</h2>

<form name="domainInfo">
  <div class="form-group">
    <label>Domain Name</label>
    <input type="text" class="form-control" ng-model="submitDomain.domain" required>
  </div>
  <div class="form-group">
    <label>Domain Description</label>
    <textarea class="form-control" rows="2" ng-model="submitDomain.description" required></textarea>
  </div>
  <button type="submit" class="btn submit-button" ng-click="submitDomain.submit()" ng-disabled="domainInfo.$invalid">Submit</button>
</form>
